/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin_cyrillic-regular.eot");
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v20-latin_cyrillic-500.eot");
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin_cyrillic-700.eot");
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v20-latin_cyrillic-900.eot");
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/roboto-v20-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

h1,
h2,
h3 {
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  /*outline: 2px solid tomato;*/
}

img {
  display: block;
}

p {
  margin: 0;
}

.link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-decoration: none;
  color: inherit;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: #2196f3;
}

.title {
  font-weight: 700;
  color: #212121;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.title-button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.title-button:hover, .title-button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 0;
}

.title-button-home {
  display: inline-block;
  justify-content: center;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border: 0;
}

.title-button-home:hover, .title-button-home:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.menu {
  display: inline-flex;
}

.menu-item {
  position: relative;
  padding-bottom: 32px;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons-item:not(:last-child) {
  margin-right: 10px;
}

.social-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link:hover, .social-icons-link:focus {
  background-color: #2196f3;
}

.social-icons-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.social-icons-link:hover .social-icons-svg,
.social-icons-link:focus .social-icons-svg {
  fill: #ffffff;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.modal-content-label {
  position: relative;
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-content-label:nth-child(n + 2) {
  margin-top: 10px;
}

.modal-content-imput {
  margin-top: 4px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 35px;
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  resize: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content-imput:focus, .modal-content-imput:hover {
  outline: #2196f3 auto 1px;
  border: 1px solid #2196f3;
}

.modal-content-imput:focus ~ .modal-content-icon,
.modal-content-imput:hover ~ .modal-content-icon {
  fill: #2196f3;
}

.modal-content-imput.coments {
  padding-left: 16px;
  height: 120px;
}

.modal-content-imput.coments::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-content-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content-check {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  color: #757575;
}

.input-check-castom {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 4px;
  fill: #ffffff;
  background-color: #ffffff;
  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-check-castom svg {
  display: block;
}

.modal-input-check:checked ~ .input-check-castom {
  background-color: #2196f3;
  border-color: #2196f3;
}

.modal-link {
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content-check .modal-link {
  margin-left: 4px;
  color: #2196f3;
}

.modal-content-button {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-left: 56px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content-button:hover, .modal-content-button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.modal-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: all 0.5s ease-in;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-50%, 0) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background: #ffffff;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 0.5s;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  background: transparent;
}

.btn-close-svg {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover svg,
.btn-close:focus svg {
  fill: #2196f3;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
  margin-right: 93px;
  padding-bottom: 25px;
}

.logo-web {
  color: #2196f3;
}

.logo-white {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  margin: 0;
  font-size: 36px;
  line-height: 1.16em;
  letter-spacing: 0.03em;
  color: #212121;
}

.header {
  padding-top: 24px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-line {
  padding-top: 24px;
  border-bottom: 1px solid #ececec;
}

.header-contacts {
  display: flex;
}

.header-contacts-item {
  padding-bottom: 32px;
}

.header-contacts-item:not(:last-child) {
  margin-right: 30px;
}

.header-icons-phone {
  vertical-align: middle;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
}

.header-icons-mail {
  vertical-align: middle;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
}

.link:hover .header-icons-mail,
.link:focus .header-icons-mail {
  fill: #2196f3;
}

.link:hover .header-icons-phone,
.link:focus .header-icons-phone {
  fill: #2196f3;
}

.link-menu {
  color: #212121;
}

.link-menu-contacts {
  align-items: center;
  color: #757575;
}

.link-mail {
  align-items: center;
}

.container-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container-footer .container {
  display: flex;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-social {
  margin-left: 70px;
  margin-right: 93px;
}

.footer-social .title {
  margin-top: 15px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
}

.footer-social .social-icons-svg {
  fill: #ffffff;
}

.footer-icons-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-newslatter {
  padding-top: 12px;
}

.footer-newslatter span {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-newslatter input {
  width: 358px;
  margin-right: 12px;
  padding: 15px 0 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
}

.newslatter-btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 30px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.newslatter-btn-ico {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #ffffff;
}

.hero {
  text-align: center;
  padding: 200px 0;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}

.hero-contant {
  justify-content: center;
  max-width: 696px;
}

.page-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.current {
  color: #2196f3;
}

.current::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
  border-radius: 2px;
}

.link-menu.current {
  color: #2196f3;
}

.link-contacts {
  font-weight: normal;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address {
  margin-top: 20px;
  margin-bottom: 9px;
  font-style: normal;
  color: #ffffff;
}

.activity-title {
  position: relative;
}

.list-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.section-pluses {
  padding-top: 94px;
}

.title-pluses {
  margin-bottom: 10px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.list-pluses:not(:last-child) {
  width: calc(100% - 90px)/4;
  margin-right: 30px;
}

.list-pluses::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.list-pluses:nth-child(1)::before {
  background-image: url(../img/icons/antenna.svg);
}

.list-pluses:nth-child(2)::before {
  background-image: url(../img/icons/clock.svg);
}

.list-pluses:nth-child(3)::before {
  background-image: url(../img/icons/diagram.svg);
}

.list-pluses:nth-child(4)::before {
  background-image: url(../img/icons/astronaut.svg);
}

.team {
  background: #f5f4fa;
}

.team-title {
  padding-bottom: 30px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.title-name {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
}

.profession {
  margin-bottom: 16px;
}

.customers-list {
  display: flex;
  justify-content: center;
}

.customers-item:not(:last-child) {
  margin-right: 30px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.customers-icons-svg {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
}

.customers-link:hover .customers-icons-svg,
.customers-link:focus .customers-icons-svg {
  fill: #2196f3;
}

.customers-icons-svg1 {
  width: 44px;
  height: 49px;
}

.customers-icons-svg2 {
  width: 40px;
  height: 52px;
}

.customers-icons-svg3 {
  width: 41px;
  height: 43px;
}

.customers-icons-svg4 {
  width: 80px;
  height: 42px;
}

.customers-icons-svg5 {
  width: 59px;
  height: 47px;
}

.customers-icons-svg6 {
  width: 88px;
  height: 45px;
}

.dark-bg {
  background-color: #2f303a;
}

.dark-bg .title {
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */