.modal-content {
  display: flex;
  flex-direction: column;
}

.modal-content-label {
  position: relative;
  display: block;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: $main-text-color;

  &:nth-child(n + 2) {
    margin-top: 10px;
  }
}
.modal-content-imput {
  margin-top: 4px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 35px;

  display: block;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  width: 100%;
  resize: none;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    outline: $accent-cl auto 1px;
    border: 1px solid $accent-cl;
  }
}

.modal-content-imput:focus ~ .modal-content-icon,
.modal-content-imput:hover ~ .modal-content-icon {
  fill: $accent-cl;
}

.modal-content-imput.coments {
  padding-left: 16px;
  height: 120px;
}

.modal-content-imput.coments::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-content-icon {
  position: absolute;
  top: 50%;
  left: 12px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content-check {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;

  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  color: $main-text-color;
}

.input-check-castom {
  margin-right: 7px;

  width: 16px;
  height: 15px;

  border: 1px solid #212121;
  border-radius: 4px;
  fill: $white-cl;
  background-color: $white-cl;

  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  svg {
    display: block;
  }
}
.modal-input-check:checked ~ .input-check-castom {
  background-color: $accent-cl;
  border-color: $accent-cl;
}

.modal-link {
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content-check .modal-link {
  margin-left: 4px;
  color: $accent-cl;
}

.modal-content-button {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-left: 56px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}

.modal-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: $title-cl;
  text-align: center;
}
