.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $black-cl;
  margin-right: auto;
  margin-bottom: 15px;

  @include for-size(tablet) {
    padding-bottom: 25px;
    margin-right: 88px;
    margin-bottom: 0;
  }
  @include for-size(desktop) {
    margin-right: 93px;
  }
}

.logo-web {
  color: $accent-cl;
}

.logo-white {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $white-cl;
}
