.menu {
  display: none;

  @include for-size(tablet) {
    display: inline-flex;
    margin-top: 8px;
  }

  @include for-size(desktop) {
    display: inline-flex;
  }
}

.menu-item {
  position: relative;
  padding-bottom: 12px;
  color: $black-cl;

  @include for-size(tablet) {
    padding-bottom: 32px;
  }

  &:not(:last-child) {
    margin-right: 50px;
  }
}
