.title-button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: $title-cl;
  background-color: $team-bg;
  border-radius: 4px;
  border: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $white-cl;
    background-color: $accent-cl;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: 0;
  }
}

.title-button-home {
  display: inline-block;
  justify-content: center;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $white-cl;
  background-color: $accent-cl;
  border: 0;

  &:hover,
  &:focus {
    color: $white-cl;
    background-color: $accent-cl;
  }
}
