html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $main-text-color;
}

h1,
h2,
h3 {
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  /*outline: 2px solid tomato;*/
}

img {
  display: block;
}

p {
  margin: 0;
}

.link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-decoration: none;
  color: inherit;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: $accent-cl;
}

.title {
  font-weight: 700;
  color: $title-cl;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
