.activity-title {
  position: relative;
}

.list-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-cl;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}
