.link-contacts {
  font-weight: normal;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address {
  margin-top: 20px;
  margin-bottom: 9px;
  font-style: normal;
  color: $white-cl;
}
