.customers-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;

  @include for-size(tablet) {
    padding-bottom: 60px;
  }

  @include for-size(desktop) {
    margin-bottom: 94px;
    padding-bottom: 0;
  }
}

.customers-item {
  display: block;
  margin-bottom: 30px;
  margin-right: 30px;

  @include for-size(mobile-only) {
    min-width: 210px;
  }

  @media screen and (max-width: 767px) {
    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @include for-size(tablet) {
    min-width: 226px;
  }

  &:nth-child(n + 4) {
    @include for-size(tablet) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  @include for-size(desktop) {
    min-width: 170px;
    margin-bottom: 0;
  }

  &:last-child {
    @include for-size(desktop) {
      margin-right: 0;
    }
  }
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  color: $comand-icon;
  border: 1px solid $comand-icon;
  border-radius: 4px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border: 1px solid $accent-cl;
    border-radius: 4px;
  }

  @include for-size(mobile-only) {
    width: 210px;
    height: 90px;
    padding: 30px;
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

.customers-icons-svg {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: $icons;
}

.customers-link:hover .customers-icons-svg,
.customers-link:focus .customers-icons-svg {
  fill: $accent-cl;
}

.customers-icons-svg1 {
  width: 44px;
  height: 49px;
}

.customers-icons-svg2 {
  width: 40px;
  height: 52px;
}

.customers-icons-svg3 {
  width: 41px;
  height: 43px;
}

.customers-icons-svg4 {
  width: 80px;
  height: 42px;
}

.customers-icons-svg5 {
  width: 59px;
  height: 47px;
}

.customers-icons-svg6 {
  width: 88px;
  height: 45px;
}
