.customers {
  justify-content: center;
  text-align: center;
}
.customers-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-right: -30px;
  margin-bottom: -30px;
  width: 100%;

  @include for-size(mobile) {
    flex-direction: row;
  }

  @include for-size(desktop) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.customers-item {
  margin-right: 0;
  margin-bottom: 30px;
  height: 90px;
  @include for-size(mobile) {
    margin-right: 30px;
  }
}

.customers-item:nth-child(2n) {
  @include for-size(mobile) {
    margin-right: 0px;
  }
  @include for-size(tablet) {
    margin-right: 30px;
  }
}

.customers-item:nth-child(3n) {
  @include for-size(tablet) {
    margin-right: 0px;
  }
}

.customers-item:not(:last-child) {
  @include for-size(desktop) {
    margin-right: 30px;
  }
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 210px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border: 1px solid $accent-cl;
    border-radius: 4px;
  }

  @include for-size(tablet) {
    width: 226px;
  }

  @include for-size(desktop) {
    width: 170px;
  }
}

.customers-icons-svg {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: $icons;
}

.customers-link:hover .customers-icons-svg,
.customers-link:focus .customers-icons-svg {
  fill: $accent-cl;
}

.customers-icons-svg1 {
  width: 44px;
  height: 49px;
}

.customers-icons-svg2 {
  width: 40px;
  height: 52px;
}

.customers-icons-svg3 {
  width: 41px;
  height: 43px;
}

.customers-icons-svg4 {
  width: 80px;
  height: 42px;
}

.customers-icons-svg5 {
  width: 59px;
  height: 47px;
}

.customers-icons-svg6 {
  width: 88px;
  height: 45px;
}
