.container-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  .container {
    @include for-size(desktop) {
      display: flex;
    }
  }
}

.contact-footer {
  width: 100%;
  text-align: center;
  padding-bottom: 45px;

  @include for-size(tablet) {
    width: 50%;
  }

  @include for-size(desktop) {
    width: 440px;
    padding-bottom: 0;
    text-align: start;
  }
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @include for-size(desktop) {
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
}

.footer-item:not(:last-child) {
  margin-bottom: 8px;

  @include for-size(desktop) {
    margin-bottom: 9px;
  }
}

.footer-social {
  width: 100%;

  .title {
    margin-top: 15px;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.143;
    text-transform: uppercase;
    text-align: center;

    @include for-size(tablet) {
      margin-top: 5px;
    }

    @include for-size(desktop) {
      text-align: start;
      margin-top: 12px;
    }
  }
  .social-icons-svg {
    fill: $white-cl;
  }

  @include for-size(tablet) {
    width: 50%;
  }
  @include for-size(desktop) {
    margin-left: 70px;
    margin-right: 93px;
    width: 206px;
  }
}

.footer-icons-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-newslatter {
  padding-top: 60px;
  text-align: center;

  span {
    display: block;
    margin-bottom: 20px;
    color: $white-cl;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;

    @include for-size(desktop) {
      width: 100%;
      text-align: start;
    }
  }
  input {
    width: 100%;
    margin-right: 12px;
    padding: 15px 0 15px 16px;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: transparent;

    @include for-size(tablet) {
      margin-right: 0px;
    }

    @include for-size(desktop) {
      width: 358px;
      height: 50px;
      margin-right: 12px;
    }
  }

  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 450px;
  }

  @include for-size(desktop) {
    width: 100%;
    padding-top: 12px;
  }
}
.newslatter-btn {
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
  padding: 10px 30px;
  color: $white-cl;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border-radius: 4px;
  background: $accent-cl;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  @include for-size(desktop) {
    height: 50px;
    margin-top: 0;
  }
}
.newslatter-btn-ico {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: $white-cl;
}
