.container-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  .container {
    display: flex;
  }
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-social {
  margin-left: 70px;
  margin-right: 93px;

  .title {
    margin-top: 15px;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.143;
    text-transform: uppercase;
  }
  .social-icons-svg {
    fill: $white-cl;
  }
}

.footer-icons-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-newslatter {
  padding-top: 12px;

  span {
    display: block;
    margin-bottom: 20px;
    color: $white-cl;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }
  input {
    width: 358px;
    margin-right: 12px;
    padding: 15px 0 15px 16px;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: transparent;
  }
}
.newslatter-btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 30px;
  color: $white-cl;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border-radius: 4px;
  background: $accent-cl;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.newslatter-btn-ico {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: $white-cl;
}
