.header-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 16px;

  @include for-size(tablet) {
    margin-top: 21px;
  }

  @include for-size(desktop) {
    margin-top: 24px;
  }
}

.header-line {
  padding-top: 24px;
  border-bottom: 1px solid $border-header;
}

.header-contacts {
  display: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;

  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }

  @include for-size(desktop) {
    flex-wrap: nowrap;
    flex-direction: row;
    font-size: 14px;
    line-height: 1.14;
    margin-top: 6px;
  }
}

.header-contacts-item {
  padding-bottom: 10px;

  &:not(:last-child) {
    @include for-size(desktop) {
      margin-right: 30px;
    }
  }

  @include for-size(desktop) {
    padding-bottom: 32px;
  }
}

.header-icons-phone {
  vertical-align: middle;
  width: 10px;
  height: 16px;
  margin-right: 8px;
  fill: $main-text-color;

  @include for-size(desktop) {
    width: 10px;
    height: 14px;
    margin-right: 10px;
  }
}

.header-icons-mail {
  vertical-align: middle;
  width: 14px;
  height: 10px;
  margin-right: 8px;
  fill: $main-text-color;

  @include for-size(desktop) {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
}

.link:hover .header-icons-mail,
.link:focus .header-icons-mail {
  fill: $accent-cl;
}

.link:hover .header-icons-phone,
.link:focus .header-icons-phone {
  fill: $accent-cl;
}

.link-menu {
  color: $title-cl;
}

.link-menu-contacts {
  align-items: center;
  color: $main-text-color;
}

.link-mail {
  @include for-size(desktop) {
    align-items: center;
    display: block;
    width: 170px;
  }
}

.link-phone {
  margin-right: 15px;
  @include for-size(desktop) {
    margin-right: 30px;
    display: block;
    width: 150px;
  }
}

