.section-pluses {
  padding-top: 60px;
  padding-bottom: 30px;

  @include for-size(desktop) {
    padding-top: 94px;
    padding-bottom: 64px;
  }
}

.title-pluses {
  margin-bottom: 10px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-cl;
}

.text-pluses {
    padding-bottom: 30px;
  //ubrat dlya ostalnich
}

.list-pluses:not(:last-child) {
  
  @include for-size(desktop) {
    width: calc(100% - 90px) / 4;
    margin-right: 30px;
  }
}

.list-pluses {
  width: 100%;
  @include for-size(tablet) {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
  }
}

.list-pluses::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: $team-bg;
  border-radius: 4px;
}

.list-pluses:nth-child(1)::before {
  background-image: url(../img/icons/antenna.svg);
}

.list-pluses:nth-child(2)::before {
  background-image: url(../img/icons/clock.svg);
}

.list-pluses:nth-child(3)::before {
  background-image: url(../img/icons/diagram.svg);
}

.list-pluses:nth-child(4)::before {
  background-image: url(../img/icons/astronaut.svg);
}
