.raboty {
  padding-bottom: 94px;
}

.portfolio-menu-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  width: 370px;
  background: $white-cl;
  flex-basis: calc((100% - 60px) / 3);

  &:not(:nth-child(3n)) {
    margin-right: 30px;
  }

  &:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-text {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
}

.title-portfolio {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $title-cl;
}

.project-link {
  text-decoration: none;
}

.project-card-overlay {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.project-link:focus .project-card-overlay > .project-title-description,
.project-link:hover .project-card-overlay > .project-title-description {
  opacity: 1;
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-title-description {
  position: absolute;
  opacity: 0;
  bottom: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: $white-cl;
  background-color: rgba(33, 150, 243, 0.9);
  z-index: 2;
  transform: translateY(100%);
}

.title-description {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: $main-text-color;
}
