.portfolio {
  height: auto;
  margin-top: 60px;
  margin-bottom: 25px;

  @include for-size(tablet) {
    height: 38px;
    margin-top: 60px;
    margin-bottom: 30px;
  }

  @include for-size(desktop) {
    margin-top: 94px;
    margin-bottom: 50px;
  }
}

.portfolio-menu {
  display: flex;
  flex-wrap: wrap;

  @include for-size(tablet) {
    justify-content: center;
  }

  @include for-size(desktop) {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.potfolio-menu-item:not(:last-child) {
  margin-right: 8px;
}
