.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  margin: 0;
  font-size: 36px;
  line-height: 1.16em;
  letter-spacing: 0.03em;
  color: $title-cl;
}
