.section {
  padding-top: 60px;
  padding-bottom: 30px;

  @include for-size(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-bottom: 30px;
  margin: 0;
  font-size: 28px;
  line-height: 1.16em;
  letter-spacing: 0.03em;
  color: $title-cl;

  @include for-size(desktop) {
    padding-bottom: 50px;
    font-size: 36px;
    line-height: 1.16em;
  }
}
